{% extends 'main.html' %}
{% load static %}
{% block content %}
<div id="fh5co-title-box"
    style="background-image: url(images/camila-cordeiro-114636.jpg); background-position: 50% 90.5px;"
    data-stellar-background-ratio="0.5">

    <div class="page-title">
        <img src="{{ post.image.url }}" alt="Free HTML5 by FreeHTMl5.co">
        <span>January 1, 2018</span>
        <h2>How to write interesting articles</h2>
    </div>
</div>
<div dir="rtl" id="fh5co-single-content"  class="container-fluid pb-4 pt-4 paddding ">
    <div class="container paddding">
        <div class="row mx-0">
            <div class="col-md-4 animate-box" data-animate-effect="fadeInLeft">
                <img class="form-control end-0" src="{{ post.image.url }}" alt="">

            </div>
            <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">

                <p
                    style="font-size: large;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;color: #52525b;">
                    {{ post.largeContent }}
                </p>
            </div>

        </div>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide" style="width: 40%;;margin: auto;margin-top: 40px;" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100 img-fluid rounded"  src="{{ fistImage.image.url }}" alt="First slide">
          </div>
            {% for image in images %}
          <div class="carousel-item">
            <img class="d-block w-100 img-fluid rounded" src="{{ image.image.url }}" alt="Second slide">
          </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span  aria-hidden="true"></span>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" style="color: #020933;">
            <path stroke-linecap="round" stroke-linejoin="round" d="m18.75 4.5-7.5 7.5 7.5 7.5m-6-15L5.25 12l7.5 7.5" />
          </svg>
          
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="" aria-hidden="true"></span>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" style="color: #020933;">
            <path stroke-linecap="round" stroke-linejoin="round" d="m5.25 4.5 7.5 7.5-7.5 7.5m6-15 7.5 7.5-7.5 7.5" />
          </svg>
          <span class="sr-only">Next</span>
        </a>
      </div>




<script>if (!navigator.userAgent.match(/Android|BlackBerry|iPhone|iPad|iPod|Opera Mini|IEMobile/i)) { $(window).stellar(); }</script>
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}