{% extends 'main.html' %}
{% load static %}
{% block content %}

<div dir="rtl" id="fh5co-single-content" class="container-fluid pb-4 pt-4 paddding ">
    <div class="container paddding">
        <div class="row mx-0" >
            <div class="col-md-4 row animate-box" data-animate-effect="fadeInLeft">
                <img class="form-control  end-0" style="max-height: 400px;" src="{{ user.image.url }}" alt="">
                
            </div>
            <div class="col-md-1 col-0"></div>
            <div class="col-md-7   animate-box" style="margin-top: 10px;" data-animate-effect="fadeInLeft">
                
                <p  style="font-size: large;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;color: #52525b;">
                    در این مطلب قصد داریم تا بهترین نمونه رزومه های فارسی کاربوم در زمینه‌های مختلف شغلی را در اختیار شما بگذاریم. شما می‌توانید نمونه رزومه کاری حرفه ای در هر زمینه شغلی را مشاهده کرده و به‌عنوان الگویی برای رزومه سازی خودتان از آن استفاده کنید؛ همچنین به این می‌پردازیم که اهمیت استفاده از نمونه یک رزومه کاری خوب در نوشتن رزومه چیست و مزایا و معایب نمونه رزومه‌ها را مورد بررسی قرار می‌دهیم.
                  
                  
                </p>
            </div>

        </div>
    </div>
</div>

{% endblock %}


<script>if (!navigator.userAgent.match(/Android|BlackBerry|iPhone|iPad|iPod|Opera Mini|IEMobile/i)){$(window).stellar();}</script>
<script src="{% static 'js/main.js' %}"></script>